# Android
/android-client/app/build
/android-client/build
/android-client/.gradle
/android-client/app/*.jks
/android-client/local.properties
/android-client/sdk
*.apk
*.aab

# Python
/linux-server/venv
/windows-server/venv
**/__pycache__/
*.pyc

# Windows
/windows-server/build
/windows-server/dist
/windows-server/*.spec

# IDE
.idea/
*.iws
*.iml
*.ipr

# Media & Large Files (test_videos, video_output)
*.mp4
*.mkv
*.avi
*.mov
/linux-server/test_output.mp4
/linux-server/video_with_audio.mp4
*.sdp

# Other
*~
*.log
Suggestions.md
Working-Proc.md
linux-server/insttall-gstremersdk.md
linux-server/workflow-server.md
